[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

requests = "*"
django = "==2.0.0"
"psycopg2" = "*"
djangorestframework = "*"
gunicorn = "*"


[requires]

python_version = "3.6"
